@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #F7EDE2;
}
#nav ol {
	list-style: none;
	padding: 5px;
}
a { 
	text-decoration: none;
	color: #2D4030;
}
#container {
	background-color: #F7EDE2;
}
#header { 
	text-align: center;
}
#nav {
	width: 300px;
	float: left;
}
#main {
	width: 860px;
	float: right;
}
#main  ul {
	list-style: none;
}
#footer {
	clear: both;
}
